.btn{
    display: flex;
    width: 100%;
    max-width: 16.8rem;
    transition:  transform .3s;
    border-radius: 0.4rem;
    background-color: $bege-100;
    cursor: pointer;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    img{
        width: 100%;
        max-width: 4rem;
    }

    &:hover{
        transform: scale(1.2);
    }

    &-secondery{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 25rem;
        height: 4.5rem;
        transition:  transform .3s;
        border-radius: 0.4rem;
        background-color: $bege-200;
        cursor: pointer;

        a{
            display: flex;
            align-items: center;
            color: white;

            img{
                width: 100%;
                max-width: 4.5rem;
                
            }

            span{
                margin-right: 1.2rem;
            }
    
           

        }
        
      
        &:hover{
            transform: scale(1.2);
        }
    }
}