//walpaper/Colors
$grey-5:rgba(57, 55, 55, 0.5);
$grey-10:rgba(57, 55, 55, 0.75);
$grey-50:#F3F0ED;
$grey-75:rgba(249, 237, 213, 0.27);

//Fonts&mockups
$grey-100: #454343;
$bege-100:#D7BB91;
$bege-200:#B4905B;
$white:#FFFFFF;
$black: #000000;
